@model IEnumerable<Chapter>
@{
    ViewData["Title"] = "Chapter";
}

@{
    var chapterObj = Model.FirstOrDefault();

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Chapter List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Manga" asp-action="Create" asp-route-id="@chapterObj.MangaId" class="btn btn-warning">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New Chapter
                </a>
            </div>
        </div>
    </div>
    @*<br /><br />*@
}


<table class="table table-secondary table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Chapter Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.ChapterNumber
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Chapter" asp-action="Edit" asp-route-id="@obj.Id"
                       class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="Chapter" asp-action="Remove" asp-route-id="@obj.Id"
                       class="btn btn-danger mx-2"> <i class="bi bi-trash"></i> Remove</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Model is a list of chapter objs*@
@{
    <div class="col-12">
        <a asp-controller="Manga" asp-action="Upsert" class="btn btn-secondary" style="width:150px" asp-route-id="@chapterObj.MangaId">
            Back to Manga
        </a>
    </div>
}