@model MangaDetails

<div style="width:100%; background-color:rgba(var(--bs-dark-rgb))">
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <div class="autoplay" style="padding:10px; margin-bottom:5px">
        @{
            int mangaCarouselCount = 0;
        }
        @foreach (var mangaObj in @Model.TopWeekManga)
        {
            if(mangaCarouselCount < 20)
            {
                <img src="@mangaObj.ImageUrl" style="object-fit:cover">
                mangaCarouselCount++;
            }
        }
    </div>
</div>

<div style="display:flex; width:100%; background:darkgray">
    <div style="width:67%">
        <div style="display:flex; color:black; font-weight:bold; width:100%; padding:10px; padding-bottom:0; background-color:rgba(var(--bs-dark-rgb))">
            <a asp-controller="Home" asp-action="Index">
                <p style="margin:0; background:gray">Read Manga Online</p>
            </a>
            <p style="margin:0; background:gray">&nbsp;>>&nbsp;</p>
            <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.Manga.Id">
                <p style="margin:0; background:gray">@Model.Manga.Title</p>
            </a>
        </div>
        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb))">
            <div style="display:flex; width:100%">
                <div class="card-img" style="width:13vw; padding:0; background-color:gray">
                    <img src="@Model.Manga.ImageUrl" style="width:12vw; object-fit:contain; float:left">
                </div>
                <div style="padding:10px; width:100%; background:gray">
                    <div>
                        <p style="font-size:large; margin:0">@Model.Manga.Title</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-book">Author(s) :</i></p>
                        <p style="margin:0">&nbsp;@Model.Manga.Author.Name</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-book">Genres :</i></p>
                        <p style="margin:0">&nbsp;@Model.Manga.MangaGenres</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-alarm">Updated :</i></p>
                        <p style="margin:0">&nbsp;@Model.Manga.Updated</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-eyeglasses">View :</i></p>
                        <p style="margin:0">&nbsp;@Model.Manga.Views</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-star">Rating :</i></p>
                        <p style="margin:0">&nbsp;@Model.Manga.Rating</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb))">
            <div style="width:100%; background:gray">
                <p style="padding-bottom:0; font-size:large; font-weight:bold">Description :</p>
                <p>@Html.Raw(Model.Manga.Description)</p>
            </div>
        </div>

        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb))">
            <div class="tableFixHead" style="width:100%">
                <table class="table table-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td style="padding:5px; background:gray">
                                @Html.Raw("Chapter Name")
                            </td>
                            <td style="padding:5px; background:gray">
                                @Html.Raw("View")
                            </td>
                            <td style="padding:5px; background:gray">
                                @Html.Raw("Uploaded")
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in @Model.ChapterList)
                        {
                            <tr>
                                <td style="padding:5px; width:70%">
                                    <a asp-controller="Home" asp-action="PageManga" style="width:195px" asp-route-id="@(obj.Id.ToString() == null ? 0 : @obj.Id)">
                                        <i class="bi bi-chevron-double-right">Chapter @obj.ChapterNumber</i>
                                    </a>
                                </td>
                                <td style="padding:5px; width:15%">
                                    @obj.Views
                                </td>
                                <td style="padding:5px; width:15%">
                                    @obj.Updated.Date.ToString("MM/dd/yyyy")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="width:33%; padding:10px; padding-top:42px; background-color:rgba(var(--bs-dark-rgb))">
        <div style="width:100%; background:gray">
            <p style="color:black; font-weight:bold; padding-bottom:0; padding-left:10px; margin:2px; font-size:large; font-weight:bold">Most Popular Manga</p>
                @foreach (var obj in @Model.MostPopularManga)
                {
                    var title = @obj.Title.Length > 35 ? @obj.Title.Substring(0,35) + "..." : @obj.Title;
                    <a asp-action="Details" class="text-primary" asp-route-id="@obj.Id">
                        <p style="color:black; font-weight:bold; margin:0; padding-left:5px"><i class="bi bi-arrow-right-circle">&nbsp;&nbsp;@title</i></p>
                    </a>
                }
        </div>

        <div style="width:100%; margin-top:10px; background:gray">
            <p style="color:black; font-weight:bold; padding-bottom:0; padding-left:10px; margin:2px; font-size:large; font-weight:bold">Mangas By Genre</p>
                <div class="grid-container-3" style="padding-left:10px">
                    @foreach (var obj in @Model.GenreList)
                    {
                        <a asp-action="MangaByGenres" class="text-primary" asp-route-id="@obj.Value">
                            <p style="margin:0">@obj.Text</p>
                        </a>
                    }
                </div>
        </div>
    </div>

</div>

@section Scripts{
<script src="~/js/carousel.js"></script>
}