@model HomeIndex

@{
    var mangaIndexDict = Model.MangaIndex;
}

<div style="color:white; width:100%; background-color:rgba(var(--bs-dark-rgb))">
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <div style="padding:10px; color:white; width:inherit; font-weight:bold"><i class="bi bi-hand-thumbs-up"> TOP WEEK</i></div>
    <div class="autoplay" style="padding-top:0; margin-bottom:5px">
        @{
            int mangaCarouselCount = 0;
        }
        @foreach (var mangaObj in @Model.TopWeekManga)
        {
            if(mangaCarouselCount < 20)
            {
                <img src="@mangaObj.ImageUrl" style="object-fit:cover">
                mangaCarouselCount++;
            }
        }
    </div>
</div>

<div style="display:flex; width:100%; background-color:gray">
    <div style="padding:0; margin-right:5px; width:67%">
        <div>
            <p style="padding:10px; margin:0; background:rgb(54, 69, 79); color:white">READ MANGA ONLINE - LATEST UPDATES</p>
        </div>
        <div class="grid-container-2 gap-0" style="padding-left:10px; background:rgba(var(--bs-dark-rgb))">
            @{
                int mangaObjCount = 0;
            }
            @foreach (var mangaObj in @Model.MangaIndex)
            {
                if (mangaObjCount < 24)
                {
                    <div class="grid-container-2-index" style="padding-bottom:10px; background-color:rgba(var(--bs-dark-rgb))">
                        <img src="@mangaObj.Key.ImageUrl" style="height:8vw; width:6vw; object-fit:fill">
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@mangaObj.Key.Id">
                                <p style="color:white; font-weight:bold; text-align:left; padding:0; margin:0"> 
                                    @if (mangaObj.Key.Title.Length > 30)
                                    {
                                        @Html.Raw(mangaObj.Key.Title.Substring(0, 30) + "...");
                                    }
                                    else
                                    {
                                        @Html.Raw(mangaObj.Key.Title)
                                    }
                                </p>
                            </a>
                            
                            <div>
                                <p style="font-style:italic ;padding:0; margin:0">@mangaObj.Key.Author.Name</p>
                            </div>
                            <div class="grid-container-2 gap-0">
                                @foreach (var chapter in mangaObj.Value)
                                {
                                    <a asp-controller="Home" asp-action="PageManga" asp-route-id="@chapter.Id">
                                        <p style="color:white; padding:0; margin:0">Chapter @chapter.ChapterNumber</p>
                                    </a>
                                    <p style="color:white; padding:0; padding-right:20px; margin:0; text-align:right">@chapter.Updated.Date.ToString("MM/dd/yyyy")</p>
                                }
                            </div>
                        </div>
                    </div>
                mangaObjCount++;
                }
            }
        </div>
    </div>
    
    <div style="width:33%; padding-left:5px; background-color:gray">
        <div style="width:100%; background:rgba(var(--bs-dark-rgb))">
            <p style="padding:10px; margin:0; background:rgb(54, 69, 79); color:white">MOST POPULAR MANGA</p>
                @foreach (var obj in @Model.MostPopularManga)
                {
                    var title = @obj.Title.Length > 35 ? @obj.Title.Substring(0,35) + "..." : @obj.Title;
                    <a asp-action="Details" class="text-primary" asp-route-id="@obj.Id">
                        <p style="color:white; font-weight:bold; margin:0; padding-left:5px"><i class="bi bi-arrow-right-circle">&nbsp;&nbsp;@title</i></p>
                    </a>
                }
        </div>
            
        <div style="width:100%; margin-top:10px; background:rgba(var(--bs-dark-rgb))">
            <p style="padding:10px; margin:0; background:rgb(54, 69, 79); color:white">NEW MANGA</p>
            <div class="grid-container-5" style="margin:0">
            
                @foreach (var mangaObj in Model.NewManga)
                {
                    <div>
                        <a asp-action="Details" class="text-primary" style="text-align:left" asp-route-id="@mangaObj.Id">
                            <img src="@mangaObj.ImageUrl" class="card-img-top" style="object-fit:fill; height:100%" />
                        </a>
                    </div>
                }
            </div>
        </div>

        <div style="display:grid; padding:0; width:100%">
            <a asp-controller="NewestManga" asp-action="Index" class="btn btn-dark" style="text-align:center">>>More<<</a>
        </div>

        <div style="width:100%; margin-top:10px; background:rgba(var(--bs-dark-rgb))">
            <p style="padding:10px; margin:0; background:rgb(54, 69, 79); color:white">MANGAS BY GENRE</p>
                <div class="grid-container-3" style="padding-left:10px">
                    @foreach (var obj in @Model.GenreList)
                    {
                        <a asp-action="MangaByGenres" class="text-primary" asp-route-id="@obj.Value">
                            <p style="color:white; margin:0">@obj.Text</p>
                        </a>
                    }
                </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/carousel.js"></script>
}