@model MangaIndexGenreIndex

<div class="row pl-3" style="border:solid; margin-top:20px; background-color:gray">
    <h3>
        Read Manga Online - Latest Updates
    </h3>
</div>
<div class="row pl-3 pb-3" style="border:solid;margin-top:0px; background-color:gray"
    <div class="col-10">
        <div class="row">
            <div class="col-8">
                <div class="row pb-1 pt-1" style="width:850px"
                    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
                    @{
                        var mangaIndexDict = Model.MangaIndex;
                    }
                    @foreach (var mangaChapterList in mangaIndexDict)
                    {
                        <div class="col-lg-2 col-md-2" style="/*border:1px solid #008cba;*/ height:200px; width:425px; padding:0px">
                            <div class="row p-2">
                                <div class="col-12 p-2" style="/*border:1px solid #008cba;*/ border-radius:1px; height:180px; width:130px; padding:0px">
                                    <div class="card" style="height:100%; border-style:double; padding:0px">
                                        <img src="@mangaChapterList.Key.ImageUrl" class="card-img-top" style="object-fit:cover; height:inherit" />
                                    </div>
                                </div>
                                <div class="col-12 p-2" style="/*border:1px solid #008cba;*/ border-radius:1px; height:contain; width:69.8%">
                                    <div class="container pt-1" style="/*border:solid;*/ height:100%; max-width: 20rem; padding:2px">
                                        <a asp-action="Details" class="text-primary" style="text-align:left" asp-route-id="@mangaChapterList.Key.Id">
                                            <h5 style="font-weight:bold">@mangaChapterList.Key.Title</h5>
                                        </a>
                                        <p class="card-text" style="font-style:italic">@mangaChapterList.Key.Author.Name</p>
                                        @foreach (var chapter in mangaChapterList.Value)
                                        {
                                            <a asp-action="Page" class="text-primary" style="text-align:left" asp-route-id="@chapter.Id">
                                                <h5 style="font-weight:bold">Chapter @chapter.ChapterNumber</h5>
                                            </a>
                                        }
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-4 pb-3 pt-3">
                <div class="row pb-0 pt-3" style="width:440px">
                    <div class="card text-white bg-dark mb-3" style="height:100%; width:100%">
                    <div class="card-header" style="width:inherit; font-weight:bold">New Manga</div>
                        <div class="row" style="height:100%; width:100%; padding-left:8px; background-color:whitesmoke">
                        @foreach (var mangaObj in Model.NewManga)
                            {
                                <div class="card" style="height:100%; width:20%; border-style:double; padding:0px">
                                    
                                    <a asp-action="Details" class="text-primary" style="text-align:left" asp-route-id="@mangaObj.Id">
                                        <img src="@mangaObj.ImageUrl" class="card-img-top" style="object-fit:cover; height:inherit" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row pb-1 pt-0" style="width:440px">
                    <div class="d-grid gap-2">
                        <a asp-controller="NewestManga" asp-action="Index" class="btn btn-dark" style="text-align:center">More</a>
                    </div>
                </div>
                <div class="row pb-3 pt-3" style="width:440px">
                    <div class="card text-white bg-dark mb-3" style="width:inherit">
                    <div class="card-header" style="width:inherit; font-weight:bold">Manga By Genre</div>
                        <div class="row p-1" style="width:inherit; background-color:whitesmoke">
                            <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
                            @foreach (var mangaObj in Model.GenreList)
                            {
                                <div class="col-lg-3 col-md-3" style="width:130px">
                                    <a asp-action="MangaByGenres" class="text-primary" style="text-align:left" asp-route-id="@mangaObj.Value">
                                        @*<h3 style="font-weight:bold"> @mangaObj.Text</h3>*@
                                        <p class="card-text" style="font-weight:bold;width:inherit">@mangaObj.Text</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>