@model HomeIndex

@{
    var mangaIndexDict = Model.MangaIndex;
}

<div style="width:100%; background-color:rgba(var(--bs-dark-rgb))">
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <div style="padding:10px; color:white; width:inherit; font-weight:bold"><i class="bi bi-hand-thumbs-up"> TOP WEEK</i></div>
    <div class="autoplay" style="padding:10px; padding-top:0; margin-bottom:5px">
        @{
            int mangaCarouselCount = 0;
        }
        @foreach (var mangaObj in @Model.TopWeekManga)
        {
            if(mangaCarouselCount < 20)
            {
                <img src="@mangaObj.ImageUrl" style="object-fit:cover">
                mangaCarouselCount++;
            }
        }
    </div>
</div>

<div style="width:100%; background-color:rgba(var(--bs-dark-rgb))">
    <div style="padding:10px; width:67%">
        <div class="grid-container-2">
            @{
                int mangaObjCount = 0;
            }
            @foreach (var mangaObj in @Model.MangaIndex)
            {
                if (mangaObjCount < 24)
                {
                    <div class="grid-container-2-index" style="background-color:gray">
                        <img src="@mangaObj.Key.ImageUrl" style="height:8vw; width:6vw; object-fit:fill">
                        <div>
                            <a asp-controller="Home" asp-action="Details" asp-route-id="@mangaObj.Key.Id">
                                <p style="font-weight:bold; text-align:left; padding:0; margin:0"> 
                                    @if (mangaObj.Key.Title.Length > 30)
                                    {
                                        @Html.Raw(mangaObj.Key.Title.Substring(0, 30) + "...");
                                    }
                                    else
                                    {
                                        @Html.Raw(mangaObj.Key.Title)
                                    }
                                </p>
                            </a>
                            
                            <div>
                                <p style="font-style:italic ;padding:0; margin:0">@mangaObj.Key.Author.Name</p>
                            </div>
                            <div class="grid-container-2 gap-0">
                                @foreach (var chapter in mangaObj.Value)
                                {
                                    <a asp-controller="Home" asp-action="PageManga" asp-route-id="@chapter.Id">
                                        <p style="color:black; padding:0; margin:0">Chapter @chapter.ChapterNumber</p>
                                    </a>
                                    <p style="color:black; padding:0; margin:0; text-align:right">@chapter.Updated.Date.ToString("MM/dd/yyyy")</p>
                                }
                            </div>
                        </div>
                    </div>
                mangaObjCount++;
                }
            }
        </div>
    </div>
</div>

<div class="row pl-3" style="border:solid; margin-top:20px; background-color:gray">
    <h3>
        Read Manga Online - Latest Updates
    </h3>
</div>
<div class="row pl-3 pb-3" style="border:solid;margin-top:0px; background-color:gray">
    <div class="col-10">
        <div class="row">
            <div class="col-8">
                <div class="row pb-1 pt-1" style="width:850px">
                    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
                    @foreach (var mangaChapterList in mangaIndexDict)
                    {
                        <div class="col-lg-2 col-md-2" style="/*border:1px solid #008cba;*/ height:200px; width:425px; padding:0px">
                            <div class="row p-2">
                                <div class="col-12 p-2" style="/*border:1px solid #008cba;*/ border-radius:1px; height:180px; width:130px; padding:0px">
                                    <div class="card" style="height:100%; border-style:double; padding:0px">
                                        <img src="@mangaChapterList.Key.ImageUrl" class="card-img-top" style="object-fit:cover; height:inherit" />
                                    </div>
                                </div>
                                <div class="col-12 p-2" style="/*border:1px solid #008cba;*/ border-radius:1px; height:contain; width:69.8%">
                                    <div class="container pt-1" style="/*border:solid;*/ height:100%; max-width: 20rem; padding:2px">
                                        <a asp-action="Details" class="text-primary" style="text-align:left" asp-route-id="@mangaChapterList.Key.Id">
                                            <h5 style="font-weight:bold">@mangaChapterList.Key.Title</h5>
                                        </a>
                                        <p class="card-text" style="font-style:italic; margin-bottom:0px">@mangaChapterList.Key.Author.Name</p>
                                        <table class="table-primary">
                                        @foreach (var chapter in mangaChapterList.Value)
                                        {
                                            <tr>
                                                <td class="table-label">
                                                    <a asp-action="Page" class="text-primary" style="text-align:left" asp-route-id="@chapter.Id">
                                                        <p style="font-weight:bold">Chapter @chapter.ChapterNumber</p>
                                                    </a>
                                                </td>
                                                <td class="table-value" style="padding-left:50px">
                                                    <p style="font-weight:bold; font-size:small">@chapter.Updated.Date.ToString("MM/dd/yyyy")</p>
                                                </td>
                                            </tr>
                                        }
                                        </table>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-4 pb-3 pt-3">
                <div class="row pb-1 pt-3" style="width:440px">
                    <div class="card text-white bg-dark mb-3" style="height:100%; width:100%">
                        <div class="card-header" style="width:inherit; font-weight:bold">Most Popular Manga</div>
                        <div class="row p-1" style="width:inherit">
                            @foreach (var mangaObj in Model.MostPopularManga)
                            {
                                <a asp-action="Details" class="text-primary" style="text-align:left; padding-top:0px; padding-bottom:0px; padding-left:10px" asp-route-id="@mangaObj.Id">
                                    <p style="color:white; font-weight:bold"><i class="bi bi-arrow-right-circle">&nbsp;&nbsp;@mangaObj.Title</i></p>
                                </a>
                            }
                        </div>
                    </div>
                </div>
                <div class="row pb-0 pt-3" style="width:440px">
                    <div class="card text-white bg-dark mb-3" style="height:100%; width:100%">
                    <div class="card-header" style="width:inherit; font-weight:bold">New Manga</div>
                        <div class="row" style="height:100%; width:100%; padding-left:8px; background-color: rgba(var(--bs-dark-rgb))">
                        @foreach (var mangaObj in Model.NewManga)
                            {
                                <div class="card" style="height:100%; width:20%; border-style:double; padding:0px">
                                    <a asp-action="Details" class="text-primary" style="text-align:left" asp-route-id="@mangaObj.Id">
                                        <img src="@mangaObj.ImageUrl" class="card-img-top" style="object-fit:cover; height:inherit" />
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="row pb-1 pt-0" style="width:440px">
                    <div class="d-grid gap-2" style="padding:0">
                        <a asp-controller="NewestManga" asp-action="Index" class="btn btn-dark" style="text-align:center">>>More<<</a>
                    </div>
                </div>
                <div class="row pb-3 pt-3" style="width:440px">
                    <div class="card text-white bg-dark mb-3" style="width:inherit">
                    <div class="card-header" style="width:inherit; font-weight:bold">Manga By Genre</div>
                        <div class="row p-1" style="width:inherit; /*background-color:whitesmoke*/">
                            <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
                            @foreach (var mangaObj in Model.GenreList)
                            {
                                <div class="col-lg-3 col-md-3" style="width:140px">
                                    <a asp-action="MangaByGenres" class="text-primary" style="text-align:left" asp-route-id="@mangaObj.Value">
                                        @*<h3 style="font-weight:bold"> @mangaObj.Text</h3>*@
                                        <p class="card-text" style="color:white; font-size:small; font-weight:bold; width:inherit">@mangaObj.Text</p>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/carousel.js"></script>
}