@model MangaByGenre

<div style="width:100%; background-color:rgba(var(--bs-dark-rgb))">
    <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <div style="padding:10px; color:white; width:inherit; font-weight:bold"><i class="bi bi-hand-thumbs-up"> TOP WEEK</i></div>
    <div class="autoplay" style="padding:10px; padding-top:0; margin-bottom:5px">
        @{
            int mangaCarouselCount = 0;
        }
        @foreach (var mangaObj in @Model.TopWeekManga)
        {
            if(mangaCarouselCount < 20)
            {
                <img src="@mangaObj.ImageUrl" style="object-fit:cover">
                mangaCarouselCount++;
            }
        }
    </div>
</div>

<div style="display:flex; color:black; font-weight:bold; width:100%; padding:10px; padding-bottom:0; background-color:rgba(var(--bs-dark-rgb)">
    <a asp-controller="Home" asp-action="Index">
        <p style="margin:0; background:gray">Read Manga Online</p>
    </a>
</div>

<div class="grid-container-2" style="padding:10px; background-color:rgba(var(--bs-dark-rgb)">
    @{
        int mangaObjCount = 0;
    }
    @foreach (var mangaObj in Model.MangaList)
    {
        if (mangaObjCount < 24)
        {
            <div class="card-img" style="padding:5px; background-color:gray">
                <img src="@mangaObj.ImageUrl" style="height:10vw; width:7vw; object-fit:contain; float:left">
                <div class="grid-container">
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@mangaObj.Id">
                        <p style="font-weight:bold; text-align:left; padding-left:5px; margin-bottom:0"> 
                            @if (mangaObj.Title.Length > 450)
                            {
                                @Html.Raw(mangaObj.Title.Substring(0, 450) + "...");
                            }
                            else
                            {
                                @Html.Raw(mangaObj.Title)
                            }
                        </p>
                    </a>
                    <div style="padding-left:10px">
                        <i class="bi bi-eye-fill" style="font-size:small">@mangaObj.Views.ToString("N0")</i>&nbsp;
                        <i class="bi bi-calendar3" style="font-size:small">@mangaObj.Updated.Date.ToString("MM/dd/yyyy")</i>&nbsp;
                        <i class="bi bi-person-fill" style="font-size:small">@mangaObj.Author.Name</i> 
                    </div>
                    <div style="padding-left:10px">
                         @if(mangaObj.Description.Length > 200)
                         {
                             @Html.Raw(mangaObj.Description.Substring(0,200) + "...")
                             <a asp-controller="Home" asp-action="Details" asp-route-id="@mangaObj.Id">
                                 <h5 style="font-weight:normal; text-align:center">-----------Read More-----------</h5>
                             </a>
                         }
                         else
                         {
                            <p>@Html.Raw(mangaObj.Description)</p>
                            <div class="bottom-0">
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@mangaObj.Id">
                                    <h5 style="font-weight:normal; text-align:center">-----------Read More-----------</h5>
                                </a>
                            </div>
                         }
                    </div>
                </div>
            </div>
        mangaObjCount++;
        }
    }
</div>

@section Scripts{
<script src="~/js/carousel.js"></script>
}