@model MangaDetails

<div style="display:flex; width:100%; background:darkgray">
    <div style="width:70%">
        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb)">
            <div style="display:flex; width:100%">
                <div class="card-img" style="width:13vw; padding:0; background-color:gray">
                    <img src="@Model.Manga.ImageUrl" style="width:12vw; object-fit:contain; float:left">
                </div>
                <div style="padding:10px; width:100%; background:darkgray">
                    <div>
                        <p style="font-size:large; margin:0">@Model.Manga.Title</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-book">Author(s) :</i></p>
                        <p style="margin:0">@Model.Manga.Author.Name</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-book">Genres :</i></p>
                        <p style="margin:0">@Model.Manga.MangaGenres</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-alarm">Updated :</i></p>
                        <p style="margin:0">@Model.Manga.Updated</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-eyeglasses">View :</i></p>
                        <p style="margin:0">@Model.Manga.Views</p>
                    </div>
                    <div style="display:flex">
                        <p style="margin:0; min-width:100px"><i class="bi bi-star">Rating :</i></p>
                        <p style="margin:0">@Model.Manga.Rating</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb)">
            <div style="width:100%; background:gray">
                <p style="padding-bottom:0; font-size:large; font-weight:bold">Description :</p>
                <p>@Html.Raw(Model.Manga.Description)</p>
            </div>
        </div>

        <div style="color:black; font-weight:bold; width:100%; padding:10px; background-color:rgba(var(--bs-dark-rgb)">
            <div class="tableFixHead" style="width:100%">
                <table class="table table-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td style="padding:5px; background:gray">
                                @Html.Raw("Chapter Name")
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var sortedChapterList = (from chapter in Model.ChapterList
                                                        orderby Int32.Parse(chapter.Text) descending
                                                        select chapter).ToList();
                        }
                        @foreach (var obj in sortedChapterList)
                        {
                            <tr>
                                <td style="padding:5px; width:50%">
                                    <a asp-controller="Home" asp-action="PageManga" style="width:195px" asp-route-id="@(obj.Value==null?0:@obj.Value)">
                                        <i class="bi bi-chevron-double-right">Chapter @obj.Text</i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="color:black; font-weight:bold; width:30%; padding:10px; background-color:rgba(var(--bs-dark-rgb)">
        <div style="width:100%; background:gray">
            <p style="padding-bottom:0; font-size:large; font-weight:bold">Most Popular Manga Placeholder</p>
            <p>@Html.Raw(Model.Manga.Description)</p>
        </div>
    </div>
</div>